@page

<script type="text/javascript">
    function onBeforeRender(dashboardControl) {
        dashboardControl.registerExtension(new DevExpress.Dashboard.DashboardPanelExtension(dashboardControl));
    }
</script>

<div style="position: relative; height: calc(100vh - 55px);">
@(Html.DevExpress().Dashboard("dashboardControl1")
    .ControllerName("DefaultDashboard")
    .Width("100%")
    .Height("100%")
    .OnBeforeRender("onBeforeRender")
    .Extensions(e => {
        e.DataSourceWizard(w => {
            w.EnableCustomSql(true);
        });
        e.ViewerApi(v => {
            v.OnItemClick("function(args) { console.log('Item Clicked: ' + args.ItemName); }");
        });
        e.UrlState(u => {
            u.IncludeDashboardIdToUrl(true);
            u.IncludeDashboardStateToUrl(true);
        });
        // MobileLayout API version mismatch - temporarily disabled
        // e.MobileLayout(m => {
        //    m.ExtensionMode(MobileLayoutExtensionMode.Auto);
        // });
    })
)
</div>